@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap';
@import "tailwindcss";

@theme {
    --color-blue-900: #000319;
    --color-blue-700: #13162D;
    --color-blue-500: #2c3646;
    --color-dark-100: #0f111a;
}
:root {
    color: white;
    font-family: 'Roboto', sans-serif;
}


.slider {
  overflow: hidden;
  width: 100%;
}

.list {
  display: flex;
  gap: 3rem;
  animation: scroll 40s linear infinite;
}

.item {
  flex: 0 0 auto;
}

.list:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@layer components {
    .section-header {
        @apply text-center text-3xl sm:text-5xl font-bold mb-20;
    }
    .bento-card-wrapper {
        @apply relative border border-blue-500 rounded-2xl shadow-xl cursor-pointer hover:scale-[1.02] transition duration-200;
    }
    .bento-card-header {
        @apply text-xl sm:text-2xl font-semibold mb-2;
    }
    .bento-card-img {
        @apply absolute top-0 left-0 size-full rounded-2xl;
    }
    .bento-card-description {
        @apply text-gray-300 text-sm sm:text-base pl-2;
    }
}